<div class="body">
  <div class="container">
    <div>
      <div class="content">
        <h2>SPIDERMAN</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>IRONMAN</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>CAPITAN AMERICA</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>THOR</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>HULK</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>BLACK WIDOW</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>BLACK PANTHER</h2>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>DOCTOR STRANGE</h2>
      </div>
    </div>
  </div>
</div>
